/* ========================
   	   table of contents 
   ======================== */

// 1) 	GENERAL STYLES
// 2) 	HEADER
// 3) 	NAV BAR
// 4)	MAIN IMAGE SECTION

@import './partials/setup';

// 1) 	GENERAL STYLES

html {
	font-size: 62.5%;
	font-family: 'Muli', sans-serif;
	p {
		color: #004d3b;
	}
}

body {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.wrapper {
	width: 1100px;
	max-width: 85%;
	margin: 0 auto;
	@media (max-width: 525px) {
		max-width: 90%;
	}
}

// 2) HEADER

.parallax {
	width: 100%;
	height: 700px;
	background-image: url('../assets/restaurant-header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

// 3) NAV BAR

.navbar {
	display: flex;
	justify-content: space-between;
	height: 100px;
}

.logo {
	display: inline-block;
	width: 25%;
	img {
		max-width: 100%;
		min-width: 17rem;
		height: 100%;
	}
}

// 3.5) HAMBURGER MENU

.hamburger-menu {
	.aside-section {
		top: 0;
		bottom: 0;
		position: absolute;
	}

	.aside-left {
		display: none;
		width: 40%;
		left: 0;
		background-color: #008062;
		-webkit-transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
		transition: transform 0.4s ease-in-out;
	}

	.aside-right {
		width: 100%;
		right: 0;
		background-color: #00b389;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
		transition: transform 0.4s ease-in-out;
	}

	.aside-list {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-top: 150px;
		text-align: left;
		padding-left: 50px;
	}

	.aside-content {
		margin-top: 150px;
		padding: 0 40px;
		position: relative;
		color: #004d3b;
		text-align: center;
	}

	.aside-list li {
		margin-bottom: 20px;
	}

	.aside-anchor::after {
		content: '';
		position: absolute;
		bottom: 0;
		background-color: #1affca;
		left: 0;
		right: 0;
		height: 3px;
		border-radius: 3px;
	}

	.aside-anchor::before {
		border-radius: 3px;
		content: '';
		position: absolute;
		bottom: 0;
		background-color: #008062;
		left: 0;
		height: 3px;
		z-index: 1;
		width: 50%;
		-webkit-transition: transform 0.2s ease-in-out;
		-o-transition: transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
	}

	.aside-anchor:hover:before {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}

	.aside-anchor {
		padding-bottom: 7px;
		color: #004d3b;
		text-decoration: none;
		font-size: 30px;
		position: relative;
		font-weight: 500;
	}

	input[type='checkbox'] {
		display: none;
	}

	input[type='checkbox']:checked ~ aside .aside-left {
		transform: translateY(0%);
	}

	input[type='checkbox']:checked ~ aside .aside-right {
		transform: translateX(0%);
	}

	input[type='checkbox']:checked ~ label .bar {
		background-color: #fff;
	}

	input[type='checkbox']:checked ~ label .top {
		-webkit-transform: translateY(0px) rotateZ(45deg);
		-moz-transform: translateY(0px) rotateZ(45deg);
		-ms-transform: translateY(0px) rotateZ(45deg);
		-o-transform: translateY(0px) rotateZ(45deg);
		transform: translateY(0px) rotateZ(45deg);
	}

	input[type='checkbox']:checked ~ label .bottom {
		-webkit-transform: translateY(-15px) rotateZ(-45deg);
		-moz-transform: translateY(-15px) rotateZ(-45deg);
		-ms-transform: translateY(-15px) rotateZ(-45deg);
		-o-transform: translateY(-15px) rotateZ(-45deg);
		transform: translateY(-15px) rotateZ(-45deg);
	}

	input[type='checkbox']:checked ~ label .middle {
		width: 0;
	}

	.middle {
		margin: 0 auto;
	}

	label {
		top: 15px;
		right: 15rem;
		display: inline-block;
		padding: 7px 10px;
		background-color: transparent;
		cursor: pointer;
		margin: 10px;
		z-index: 3;
		position: fixed;
		@media (max-width: 700px) {
			top: 15px;
			right: 3rem;
		}
		@media (max-width: 400px) {
			top: 15px;
			right: 1rem;
		}
	}

	.bar {
		display: block;
		background-color: #00c396;
		width: 30px;
		height: 3px;
		border-radius: 5px;
		margin: 5px auto;
		transition: background-color 0.4s ease-in, transform 0.4s ease-in,
			width 0.4s ease-in;
	}

	p {
		font-size: 30px;
	}

	.button {
		display: inline-block;
		background-image: none;
		border: none;
		background-color: transparent;
		padding-bottom: 7px;
		position: relative;
		cursor: pointer;
		font-size: 20px;
		color: #00c396;
		padding: 7px 50px;
		border: 2px solid white;
		text-decoration: none;
	}

	@media (min-width: 992px) {
		h1 {
			font-size: 40px;
		}
		.aside-left {
			display: block;
		}

		.aside-right {
			width: 60%;
		}
	}
}

// 4)	MAIN IMAGE SECTION

.image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media (max-width: 450px) {
		flex-direction: column;
	}

	img {
		width: 50%;
		height: 500px;
		@media (max-width: 900px) {
			width: 50%;
			height: auto;
		}
		@media (max-width: 450px) {
			width: 100%;
			height: 100%;
		}
	}
}

// X) restaurant-info

.restaurant-info {
	margin: 10% auto;
	font-size: 1.8rem;
	text-align: center;
}

// X) LOCATION

.location iframe {
	width: 100%;
	height: 90%;
}

// X) FOOTER

.footer-links {
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 10% 0;
	font-size: 1.2rem;
	h3 {
		text-transform: uppercase;
	}
}

.footer-credits {
	background: #00c396;
	color: white;
	padding: 30px;
	text-align: center;
	a {
		color: white;
	}
	p {
		font-size: 1.5rem;
	}
}

// X) Slide-in Animations

.slide-in {
	opacity: 0;
	transition: all 0.5s;
}

.left .slide-in {
	transform: translateX(-30%) scale(0.95);
}

.right .slide-in {
	transform: translateX(30%) scale(0.95);
}

.slide-in.active {
	opacity: 1;
	transform: translateX(0%) scale(1);
}

// X) Blur out animation

.blur {
	opacity: 1;
}
